@font-face {
  font-family: Krabougja;
  src: url('Krabougja.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  padding: 0.5em;
}

.pants {
  padding: 0;
  margin: 0;
}

#channel-list {
  float: left;
  text-align: right;
  margin-right: 1em;
}

#channel-list, .client-list {
  list-style-type: none;
}

.channel-name {
  font-weight: bold;
}

#details {
  margin-left: 1em;
  background-color: #ccc;
  width: 10em;;
  height: 30em;
  overflow: hidden;
  float: left;
}

#weiner {
  /*font-family: Krabougja;*/
}

.filler {
  font-size: 4em;
  text-align: center;
  border: solid red 1px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

