@font-face {
  font-family: Krabougja;
  src: url('Krabougja.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Krabougja;
}

body {
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

h2 {
  padding: 0.2em;
}

dl {
}

dt {
  float: left;
  padding-right: 3px;
  clear: left;
}

dt:after {
  content: ':';
}

dd {
  margin: 0;
  float: right;
}




/*##########
 Channel list
 ############*/
#channel-list {
  float: left;
  text-align: right;
  margin-right: 1em;
  width: 10em;
}

#channel-list, .client-list {
  list-style-type: none;
}

.channel-name {
  font-size: 1.3em;
  font-weight: bold;
}


/*######
 Details
 #######*/
#details-viewport {
  margin-left: 1em;
  padding-left: 1em;
  padding-right: 1em;

  background-color: #ccc;
  width: 20em;
  height: 30em;
  overflow: hidden;
  float: left;
}

.filler {
  font-size: 4em;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
