$def with (client_details)

<h2>$client_details['client_nickname']</h2>
<dl id="client-details-$client_details['client_database_id']">
  <dt>Idle</dt><dd>$make_milliseconds_human_readable(client_details['client_idle_time'])</dd>
  <dt>Connected</dt><dd>$make_milliseconds_human_readable(client_details['connection_connected_time'])</dd>
  <dt>Away</dt><dd>$boolean_int_to_human_readable(client_details['client_away'])</dd>
  <dt>Microphone muted</dt><dd>$boolean_int_to_human_readable(client_details['client_input_muted'])</dd>
  <dt>Speakers/headset muted</dt><dd>$boolean_int_to_human_readable(client_details['client_output_muted'])</dd>
  <dt>Platform</dt><dd>$client_details['client_platform']</dd>
  <dt>Version</dt><dd>$client_details['client_version']</dd>
  <dt>Total connections</dt><dd>$client_details['client_totalconnections']</dd>
  <dt>Account created</dt><dd>$make_posix_timestamp_human_readable(client_details['client_created'])</dd>
</dl>
